<p>adminstration</p>
<% @users.each do |f|%>
<%= f.name %>
<%= f.email %>
<%= f.password %>
<br>
 <td><%= link_to 'Edit',edit_test_path(f) %></td>
 <br>
<%end%>

<%= link_to 'Add new product', 'products#index' %>



